.choose {
    background-color: #F4F5F7;
    padding: 96px 165px 94px 165px;
    margin-bottom: 80px;
    background-image: url(./../../images/bottom.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 459px) calc(-10%);
    
    &__container {

    }

    &__inner-wrapper {
    }

    &__top {
        max-width: 635px;
        width: 100%;
    }

    &__top-heading {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 100;
        font-size: 40px;
        line-height: 64px;
        letter-spacing: -0.714286px;
        color: #2D314D;    
        margin-bottom: 16px;    
    }

    &__top-text {
        font-family: 'PublicSans';
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.28125px;
        color: #9597A5;   
        margin-bottom: 72px;     
    }

    &__middle {
    }

    &__middle-list {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__item {
        max-width: 255px;
        width: 100%;
        &::before {
            content: "";
            display: inline-block;
            background-image: url("./../../images/choose1.svg");
            width: 72px;
            height: 72px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-bottom: 40px;
        }
    }

    &__item-heading {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 100;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.428571px;
        color: #2D314D;
        margin-bottom: 26px;
        max-width: 160px;     
        width: 100%;   
    }

    &__item-text {
        font-family: 'PublicSans';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.25px;
        color: #9597A5; 
        max-width: 255px;
        width: 100%;       
    }
}
