.header {
    background-color: #fff;
    &__container {
        padding-top: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__img-link {

    }

    &__nav {
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
    }

    &__item-link {
        font-family: 'PublicSans';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.107692px;
        color: #9597A5;
        padding-bottom: 18px;
        &:hover {
            border-bottom: 4px solid #4AD290;
        }
        &:active {
            color: #2D314D;
        }
    }
    .button {
        padding: 8px 36px 8px 33px;
        background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
        border-radius: 22px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        color: #FFFFFF;
        min-width: 150px;
    }
}

