.header {
    background-color: #fff;
    z-index: 999999;
    &__container {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__img-link {
        
    }
    
    &__nav {
    }
    
    &__list {
        display: flex;
        gap: 30px;
    }
    
    &__item {
    }
    
    &__item-link {
        font-family: 'PublicSans';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.107692px;
        color: #9597A5;
        padding-bottom: 18px;
        &:hover {
            border-bottom: 4px solid #4AD290;
        }
        &:active {
            color: #2D314D;
        }
    }
    .button {
        padding: 8px 36px 8px 33px;
        background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
        border-radius: 22px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        color: #FFFFFF;
        min-width: 150px;
    }
    
    &__list-btn {
        display: none;
    }
    
    &__burg {
    }
    
    &__cross {
    }
    
}

@media only screen and (max-width: 700px) { 
    /* Mobile */

    .header {
        max-width: 700px;
        width: 100%;
        position: fixed;
        background-color: #fff;
        z-index: 999999;
        &__container {
            padding-top: 22px;
            padding-bottom: 22px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }
        
        &__img-link {
            
        }
           
        &__nav {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: calc(100vh - 100%);
            background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
            align-items: flex-start;
            justify-content: center;
            padding-top: 32px;
            transform: translateY(-2%);
        }
        
        &__list {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        
        &__item {
        }
        
        &__item-link {
            font-family: 'PublicSans';
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.107692px;
            color: #9597A5;
            padding-bottom: 18px;
            &:hover {
                border-bottom: 4px solid #4AD290;
            }
            &:active {
                color: #2D314D;
            }
        }
        .button {
            display: none;
            padding: 8px 36px 8px 33px;
            background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
            border-radius: 22px;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            color: #FFFFFF;
            min-width: 150px;
        }
        
        &__list-btn {
            display: flex;
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
        }
        
        &__burg {
        }
        
        &__cross {
            display: none;
        }

        .header__container--active {
            .header__nav {
                display: flex;
            }

            .header__burg {
                display: none;
            }
            
            .header__cross {
                display: inline-block;
            } 
        }
    }
}